.webTemplate {
    background-color: #E7E9EB;
    padding: 50px 20px;
}

.web_template_container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.web_template_container img {
    width: 100%;
}

.web_template_container h1 {
    font-size: 55px;
    margin: 0;
}

.web_template_container p {
    font-size: 21px;
}

.webTemplateLInk {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 30px;
    text-decoration: none;
}